#projects-component{
    width: 70vw;
    margin: 150px auto;
}

#checkbox-container{
    margin-top: 20px;
    display: flex;
    background-color: var(--color4);
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.checkbox-parent{
    display: flex;
    align-items: center;
    margin-right: 5px;
    color: var(--color1);
}
.checkbox-div{
    width: 15px;
    height: 15px;
    background-color: var(--color1);
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: filter .3s;
}
.checkbox-div:hover{
    filter: brightness(.9);
}
.checkbox-clicked{
    background-color: var(--color2);
}

/* h4{
    word-break: break-all;
} */

#project-container{
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 360px);
    justify-content: center;
    gap: 30px 30px;
}

.project > figure{
    position: relative;
}

#project-role{
    position: absolute;
    bottom: -10px;
    right: 10px;
    /* background-color: var(--color4); */
    padding: 5px;
    border-radius: 10px;
    color: var(--color1);
    font-size: 0.8em;
}
.color-for-FullStack{
    /* background-image: linear-gradient(to right, white, #00A9A5 15%); */
    background-color: #00A9A5;
}
.color-for-BackEnd{
    /* background-image: linear-gradient(to right, white, #4E8098 15%); */
    background-color: #4E8098;
}
.color-for-FrontEnd{
    /* background-image: linear-gradient(to right, white, #90C2E7 15%); */
    background-color: #90C2E7;
}

.project:hover{
    transform: scale(1.5);
    z-index: 1;
    transition: all .5s;
}
#project-info{
    border-radius: 10px;
    padding: 10px;
    transition: all .5s;
}
.project:hover #project-info{
    background-color: var(--color4);
    border-radius: 10px;
    padding: 10px;
}
.project:hover h4{
    color: var(--color1);
    transition: all .5s;
}

.project img{
    width: 300px;
    padding: 30px 0;
    background: radial-gradient(ellipse at top, transparent, rgba(73, 1, 26, 0.1)),
            radial-gradient(ellipse at bottom, transparent, transparent);
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.project:hover img{
    padding: 0;
}

.project h4{
    margin: 10px 0;
}

#techs{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#techs p{
    background-color: var(--color2);
    margin: 10px 10px 0 0;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: .8em;
}

#repo-live-button{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#repo-live-button button{
    display: none;
    background-color: var(--color4);
    color: var(--color1);
}
#repo-live-button button a{
    text-decoration: none;
    color: inherit;
}
#repo-live-button button:hover{
    background-color: var(--color2);
    cursor: pointer;
    color: var(--color4);
}
.project:hover #repo-live-button button{
    display: inline;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid var(--color1);
    border-radius: 10px;
}

@media screen and (max-width: 400px) {
    #projects-component{
        width: 90vw;
    }
    
    .project:hover{
        transform: scale(1);
    }
}