#projects-component{
    width: 70vw;
    margin: 150px auto;
}

h4{
    word-break: break-all;
}

#project-container{
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 375px);
    justify-content: center;
    gap: 30px 30px;
}

.project > figure{
    position: relative;
}

#project-role{
    position: absolute;
    top: 20px;
    right: 20px;
    /* background-color: var(--color4); */
    padding: 5px;
    border-radius: 10px;
    color: var(--color1);
    font-size: 0.8em;
}
.color-for-FullStack{
    background-image: linear-gradient(to right, var(--color4), #00A9A5 20%);
}
.color-for-BackEnd{
    background-image: linear-gradient(to right, var(--color4), #4E8098 20%);
}
.color-for-FrontEnd{
    background-image: linear-gradient(to right, var(--color4), #90C2E7 20%);
}

.project:hover{
    transform: scale(1.3);
    z-index: 1;
    transition: all .5s;
}
#project-info{
    border-radius: 10px;
    padding: 10px;
    transition: all .5s;
}
.project:hover #project-info{
    background-color: var(--color4);
    border-radius: 10px;
    padding: 10px;
}
.project:hover h4{
    color: var(--color1);
    transition: all .5s;
}

.project img{
    padding: 50px;
    background-color: white;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

.project h4{
    margin: 10px 0;
}

#techs{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#techs p{
    background-color: var(--color2);
    margin: 10px 10px 0 0;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: .8em;
}

#repo-live-button{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#repo-live-button button{
    display: none;
    background-color: var(--color4);
    color: var(--color1);
}
#repo-live-button button:hover{
    background-color: var(--color2);
    cursor: pointer;
    color: var(--color4);
}
.project:hover #repo-live-button button{
    display: inline;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid var(--color1);
    border-radius: 10px;
}

/* @keyframes fadeIn {
    from {
      opacity: 0;
      scale: .5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

#project-modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    min-height: 30vw;
    padding: 2vw;
    border-radius: 10px;
    background-color: var(--color2);
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}

#project-modal h1{
    color: white;
    font-size: 2em;
    text-align: center;
}
#project-modal img{
    display: block;
    margin: 50px auto 0 auto;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
} */