<div data-aos="zoom-in" id="projects-component">
    <div id="projects">
        <h1>Projects</h1>
        <div id="checkbox-container">
            <div class="checkbox-parent">
                <h4>FrontEnd</h4>
                <div class="checkbox-div checkbox-clicked" id="frontend" (click)="onCheckboxClick($event)"></div>
            </div>
            <div class="checkbox-parent">
                <h4>FullStack</h4>
                <div class="checkbox-div checkbox-clicked" id="fullstack" (click)="onCheckboxClick($event)"></div>
            </div>
            <div class="checkbox-parent">
                <h4>BackEnd</h4>
                <div class="checkbox-div checkbox-clicked" id="backend" (click)="onCheckboxClick($event)"></div>
            </div>
        </div>
    </div>
    
    <div id="project-container">
        <div *ngFor="let i of filteredProjectArray" class="project">
            <figure>
                <img src="{{i.image}}">
                <span class="{{'color-for-'+i.role}}" id="project-role">{{i.role}}</span>
            </figure>
            <div id="project-info">
                <h4>{{i.name}}</h4>
                <div id="techs">
                    <p *ngFor="let skills of i.techs">
                        {{skills}}
                    </p>
                </div>
                <div id="repo-live-button">
                    <button *ngIf="i.live"><a href="{{i.live}}" target="_blank">Live Server</a></button>
                    <button *ngIf="i.repository"><a href="{{i.repository}}" target="_blank">Repository</a></button>
                    <button *ngIf="!i.live && !i.repository">In Development</button>
                </div>
            </div>
        </div>
    </div>
</div>