nav{
    position: fixed;
    padding: 5px 0;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.05);
    z-index: 99;
}

nav #mobile-menu{
    display: none;
}

nav > *{
    margin: 0 40px;
}

nav > div > button{
    height: 100%;
    padding: 0 15px;
    background-color: transparent;
    border: none;
    font-weight: 500;
    transition: all .5s;
}
nav > div > button:hover{
    font-size: 1.05em;
}

#burger-menu-icon{
    display: none;
}

h3{
    color: var(--color4);
    text-align: center;
    padding: 20px 0;
}

#apresentation{
    display: flex;
    justify-content: center;
    gap: 15vw;
    flex-direction: row;
    margin: var(--space-on-section) 0 0 0;
}
#apresentation > div{
    max-width: 500px;
}
#apresentation > div > *{
    margin: 35px 0;
}
#apresentation > div > * :last-child{
    margin: 0;
}
#contacts-logo > *{
    filter: opacity(.05) drop-shadow(0 0 0 var(--color2)) drop-shadow(0 0 0 var(--color2)) drop-shadow(0 0 0 var(--color2)) drop-shadow(0 0 0 var(--color2)) drop-shadow(0 0 0 var(--color2)) drop-shadow(0 0 0 var(--color2));
    transition: all .5s;
}
#contacts-logo > *:hover{
    opacity: .5;
    cursor: pointer;
}

h1{
    color: var(--color4);
    font-size: 3em;
}

hr{
    margin: var(--space-on-section) 8vw;
    border: solid 1.5px rgba(0, 0, 0, 0.3);
}

#about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin: 0 20vw;
    background-color: var(--color4);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}
#about-me h2, #about-me h4{
    color: var(--color1);
}
#about-me h2{
    margin-bottom: 30px;
}
#about-me h4{
    margin-bottom: 15px;
}
#about-me span{
    color: var(--color2);
}

#contact-info{
    display: flex;
    gap: 10vw;

    margin: var(--space-on-section) 20vw 0 20vw;
}
#contact-info form{
    margin-top: 40px;
}
#contact-info form input{
    padding: 15px 60px 15px 15px;
    margin: 5px 0;
    border: none;
    background-color: var(--color1);
}

#contact-info form #submit-email{
    padding: 25px 35px;
    background-color: var(--color4);
    color: var(--color1);
}

#contact-text{
    display: flex;
    flex-direction: column;
}
#contact-text > *{
    margin: 10px 0;
}

footer{
    background-color: var(--color4);
    padding: 20px 0;
    margin-top: var(--space-on-section);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer a{
    font-size: .9em;
}

a{
    text-decoration: none;
    color: var(--color1);
}
a span{
    color: rgb(73, 73, 243);
}

@media screen and (max-width: 1030px){
    #apresentation{
        flex-direction: column;
        gap: 0;
    }
    #apresentation figure{
        margin: 40px auto;
    }
    #apresentation figure > img{
        width: 80vw;
    }
    #apresentation > div{
        margin: auto;
    }

    #about-me{
        flex-direction: column;
        gap: 50px;
        margin: 0 5vw;
    }
    #about-me h2, #about-me h4{
        width: auto;
    }
    #about-me img{
        margin: auto;

    }

    #contact-info{
        flex-direction: column;
        gap: 30px;
        margin: var(--space-on-section) 10vw 0 10vw;
    }
    #contact-info form{
        width: min-content;
        margin: 0 auto;
    }
}

@media screen and (max-width: 700px) {
    #apresentation figure > img{
        width: 100vw;
    }
}

@media screen and (max-width: 500px) {
    nav > #pc-menu {
        display: none;
    }

    nav > #mobile-menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        right: 0;
        top: 50px;
        height: max-content;
        margin: 0;
        background-color: white;
    }
    nav > #mobile-menu button{
        padding: 40px 15px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }
    nav > #mobile-menu button:first-child{
        border-top: 2px solid rgba(0, 0, 0, 0.1);
    }
    
    #burger-menu-icon{
        display: inline;
    }
}