nav{
    position: fixed;
    padding: 5px 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.05);
}

nav > *{
    margin: 0 40px;
}

nav > div > button{
    height: 100%;
    padding: 0 15px;
    background-color: transparent;
    border: none;
    font-weight: 500;
    transition: all .5s;
}
nav > div > button:hover{
    font-size: 1.05em;
}

h3{
    color: var(--color4);
    text-align: center;
    padding: 20px 0;
}

#apresentation{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
    margin: 150px 0 0 0;
}
#apresentation > div{
    max-width: 500px;
}
#apresentation > div > *{
    margin: 35px 0;
}
#apresentation > div > * :last-child{
    margin: 0;
}
#contacts-logo > *{
    filter: opacity(.05) drop-shadow(0 0 0 var(--color2)) drop-shadow(0 0 0 var(--color2)) drop-shadow(0 0 0 var(--color2)) drop-shadow(0 0 0 var(--color2)) drop-shadow(0 0 0 var(--color2)) drop-shadow(0 0 0 var(--color2));
    transition: all .5s;
}
#contacts-logo > *:hover{
    opacity: .5;
    cursor: pointer;
}

h1{
    color: var(--color4);
    font-size: 3em;
}

hr{
    margin: 30px 10vw;
}

#about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin: 0 20vw;
    background-color: var(--color4);
    padding: 30px;
    border-radius: 10px;
}
#about-me h2, #about-me h4{
    color: var(--color1);
    width: 400px;
}
#about-me h2{
    margin-bottom: 30px;
}
#about-me h4{
    margin-bottom: 15px;
}
#about-me span{
    color: var(--color2);
}

footer{
    background-color: var(--color4);
    padding: 50px 0;
    margin-top: 50px;
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--color1);
}
a span{
    color: rgb(73, 73, 243);
}

@media screen and (max-width: 940px){
    #apresentation{
        flex-direction: column;
        gap: 0;
    }
    #apresentation figure{
        margin: 40px auto;
    }
    #apresentation > div{
        margin: auto;
    }

    #about-me{
        flex-direction: column;
        gap: 50px;
    }
    #about-me img{
        margin: auto;
    }
}