<main>
  <nav>
    <img width="40" height="40" src="https://img.icons8.com/ios-glyphs/30/000000/source-code.png" alt="source-code"/>
    <div id="pc-menu">
      <button *ngFor="let i of buttonsList" (click)="scrollToElement(i.elementId)">{{i.buttonName}}</button>
    </div>
    <img id="burger-menu-icon" 
    width="30" 
    src="assets/burger-menu.svg"
    (click)="setSubCategories()">
    <div *ngIf="showSubCategories" id="mobile-menu">
      <button *ngFor="let i of buttonsList" (click)="scrollToElement(i.elementId)">{{i.buttonName}}</button>
    </div>
  </nav>

  <section id="apresentation">
    <div>
      <h4>Front End | Back End</h4>
      <h1>Gabriel França</h1>
      <!-- <p i18n>This is a template Figma file, turned into code using Anima. 
        Learn more at AnimaApp.com</p> -->
      <p>Olá, fiz esse portfolio com carinho, espero ter resumido bem para facilitar sua busca :)</p>
      <div id="contacts-logo">
        <a href="https://github.com/gabrielFrc" target="_blank">
          <img width="50" height="50" src="https://img.icons8.com/glyph-neue/64/github.png" alt="github"/>
        </a>
        <a href="https://www.linkedin.com/in/gabriel-f-82328b214/" target="_blank">
          <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/000000/linkedin.png" alt="linkedin"/>
        </a>
      </div>
    </div>
    <figure>
      <img width="400px" src="assets/Foto4.png">
    </figure>
  </section>

  <hr/>

  <section id="about-me" data-aos="zoom-in">
    <div>
      <h2>Sobre mim</h2>
      <h4><span class="title-profile">Perfil profissional:</span> Possuo as habilidades de desenvolver na parte de Front End com as tecnologias: <span class="emphasis">React.js</span>, <span  class="emphasis">Redux.js</span> e sei o básico de <span class="emphasis">Angular</span> com <span  class="emphasis">TypeScript</span>. No Back End, ainda estou estudando: <span class="emphasis">Java</span> com o framework <span class="emphasis">Spring</span>, mas já sei o básico de <span>Rest API</span>, integração com <span class="emphasis">banco de dados SQL</span>, <span class="emphasis">migrations</span> dentro do código pra facilitar consultas no banco de dados e <span class="emphasis">Swagger</span> para a documentação do projeto. <span class="emphasis">Tecnologias adicionais</span> que posso usar no dia a dia: Git, GitHub, Postman, Figma, Microsoft Teams e Trello.</h4>
      <h4><span class="title-profile">Perfil pessoal:</span> Sou uma pessoa esportiva, gosto de me socializar, gosto de colaborar com os outros e possuo a capacidade de aprender rápido.</h4>
    </div>
    <img width="200px" src="assets/personal-info.svg">
  </section>
</main>

<app-projects />

<app-skills />

<section id="contact-info">
  <div id="contact-text">
    <h2>Vamos trabalhar juntos</h2>
    <p>Adoraria participar de um novo projeto seu e enfrentar os desafios, com certeza darei meu melhor para entregar o melhor possível de mim mesmo. Me chame no LinkedIn ou mesmo no email.</p>
    <div>
      <a href="https://github.com/gabrielFrc" target="_blank">
        <img width="50" height="50" src="https://img.icons8.com/glyph-neue/64/github.png" alt="github"/>
      </a>
      <a href="https://www.linkedin.com/in/gabriel-f-82328b214/" target="_blank">
        <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/000000/linkedin.png" alt="linkedin"/>
      </a>
    </div>
  </div>
  <a href="mailto:gabrielfrcdev@gmail.com" target="_blank" rel="noopener noreferrer">
    <span><img src="https://img.icons8.com/ios/50/paper-plane--v1.png" alt="paper-plane--v1"/></span>Envie um e-mail</a>
</section>

<footer>
  <a href="https://icons8.com">Icones de <span>Icons8</span></a>
</footer>

<router-outlet></router-outlet>