<main>
  <nav>
    <img width="40" height="40" src="https://img.icons8.com/ios-glyphs/30/000000/source-code.png" alt="source-code"/>
    <div id="pc-menu">
      <button (click)="scrollToElement('about-me')">About</button>
      <button (click)="scrollToElement('projects')">Work</button>
      <button>Contact Me</button>
    </div>
    <img id="burger-menu-icon" 
    width="30" 
    src="assets/burger-menu.svg"
    (click)="setSubCategories()">
    <div *ngIf="showSubCategories" id="mobile-menu">
      <button (click)="scrollToElement('about-me')">About</button>
      <button (click)="scrollToElement('projects')">Work</button>
      <button>Contact Me</button>
    </div>
  </nav>

  <section id="apresentation">
    <div>
      <h4>Front End | Back End</h4>
      <h1>Gabriel França</h1>
      <p>This is a template Figma file, turned into code using Anima. 
        Learn more at AnimaApp.com</p>
      <div id="contacts-logo">
        <a href="https://github.com/gabrielFrc" target="_blank">
          <img width="50" height="50" src="https://img.icons8.com/glyph-neue/64/github.png" alt="github"/>
        </a>
        <a href="https://www.linkedin.com/in/gabriel-f-82328b214/" target="_blank">
          <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/000000/linkedin.png" alt="linkedin"/>
        </a>
      </div>
    </div>
    <figure>
      <img width="400px" src="assets/Foto4.png">
    </figure>
  </section>

  <hr/>

  <section id="about-me" data-aos="zoom-in">
    <div>
      <h2>About me</h2>
      <h4><span>Perfil profissional:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sequi temporibus repellat nisi atque minus culpa nesciunt odit optio asperiores, ad, obcaecati dolor consectetur! Nemo modi itaque at? Recusandae, perspiciatis?</h4>
      <h4><span>Perfil pessoal:</span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia soluta facilis ipsa, harum eveniet accusamus iste illo corrupti modi exercitationem nam minus reprehenderit, hic doloremque voluptas dignissimos quae itaque maxime! </h4>
    </div>
    <img width="200px" src="assets/personal-info.svg">
  </section>
</main>

<app-projects />

<footer>
  <a href="https://icons8.com">Icons from <span>Icons8</span></a>
</footer>

<router-outlet></router-outlet>