<div id="skills-container">
    <h1>Techs & Skills</h1>
    <div class="skills-domain" id="better-domain">
        <h3>Better domain</h3>
        <div class="skills">
            <img width="60" src="https://img.icons8.com/ios-glyphs/60/react.png" alt="react"/>
            <img width="60" src="https://img.icons8.com/ios-filled/50/redux.png" alt="redux"/>
            <img width="60" src="https://img.icons8.com/ios-filled/50/javascript.png" alt="javascript"/>
            <img width="60" src="https://img.icons8.com/ios-filled/50/typescript.png" alt="typescript"/>
            <img width="60" src="https://img.icons8.com/ios-filled/100/git.png" alt="git"/>
            <img width="60" src="https://img.icons8.com/ios-filled/100/github.png" alt="github"/>
            <img width="60" src="https://img.icons8.com/ios-filled/50/microsoft-teams-2019.png" alt="microsoft teams"/>
            <img width="60" src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/48/external-postman-is-the-only-complete-api-development-environment-logo-bold-tal-revivo.png" alt="postman"/>
        </div>
    </div>
    <div class="skills-domain" id="used-sometimes">
        <h3>Used sometimes</h3>
        <div class="skills">
            <img width="60" src="https://img.icons8.com/ios/100/java-coffee-cup-logo--v1.png" alt="java"/>
            <img width="60" src="https://img.icons8.com/ios-filled/50/angularjs.png" alt="angularjs"/>
            <img width="60" src="https://img.icons8.com/ios-filled/100/c-sharp-logo.png" alt="c-sharp"/>
        </div>
    </div>
</div>