:root{
    --color1: #F1F2EE;
    --color2: #DCF763;
    --color3: #606D5D;
    --color4: #141414;

    --space-on-section: 100px;
}

*{
    margin: 0;
}

h1, h2, h3, h4, h5, p, button, input, a, span{
    font-family: "Epilogue";
}

h1{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}